extends layout.pug

block title
  title 多媒体
block maincontent
  .main
    .main-layout.clearfix
      .main-layout-leftside
        .menu-box.media-box
          .menu-box-header
            h2 多媒体图库
          .menu-box-body
            each item,index in menuList
              dl.menu-item
                dt.menu-item__title(class={'menu-item__title--first':index===0})
                  strong= item.name
                dd.menu-item__list.clearfix
                  each citem in item.children
                    a.menu-item__list-item(href="/list/"+citem.id,title=citem.name)= citem.name
      .main-layout-rightside
block scripts
  script
    include menu-hover.js